<div class="container">
  <div class="flex h-full items-center justify-center">
    <div class="flex flex-col border border-gray-400 rounded shadow w-1/2 p-4 text-center gap-4"> <!-- flex-col and gap-4 -->
      <div>  
        <h1 class="font-bold">Typing Game</h1>
      </div>
      <div>
        <p><span [class]="compare(letter, enteredText[i])"
           *ngFor="let letter of sentence.split('');let i = index">{{letter}}</span></p>
      </div>
      <div>
        <input type="text" class="border border-gray-300 rounded-sm w-[90%]" [(ngModel)]="enteredText" />
      </div>
      <div *ngIf="sentence===enteredText">
        <p>Success!</p>
      </div>
    </div>
  </div>
</div>
